*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: "Source_Sans_PRO";
    src: url(../font/SourceSansPro-Regular.otf) format("opentype");
}

@font-face {
    font-family: "Source_Sans_PRO_Bold";
    src: url(../font/SourceSansPro-Bold.otf) format("opentype");
    font-style: normal;
	font-weight: bold
}

@font-face {
    font-family: "Source_Sans_PRO_It";
    src: url(../font/SourceSansPro-It.otf) format("opentype");
}

.child.child--first {
font-family: "Source_Sans_PRO", serif;
}

.child.child.child--middle {
font-family: "Source_Sans_PRO_Bold", serif;
font-weight: bold
}

.parent {
width: 600px;
padding: 20px;
display: flex;
gap: 10px;
}



.child.child--first,
.child.child--middle {
width: 30%;
}

.child.child--last {
width: 40%;
font-family: "Source_Sans_PRO_Bold_It", serif;
}