*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: "Source_Sans_PRO";
    src: url(../font/SourceSansPro-Regular.otf) format("opentype");
}

body {
font-family: "Source_Sans_PRO", serif;
}

.parent {
width: 600px;
padding: 20px;
display: flex;
gap: 10px;
}



.child.child--first,
.child.child--middle {
width: 30%;
}

.child.child--last {
width: 40%;
}